In [1]:
#11 Pandas

import pandas as pd

In [2]:
#pandas series
s = pd.Series([0,1,4,9,16,25])

In [3]:
s

0     0
1     1
2     4
3     9
4    16
5    25
dtype: int64

In [4]:
s = pd.Series([0,1,4,9,16,25], name='squares')

In [5]:
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

In [6]:
s.values

array([ 0,  1,  4,  9, 16, 25], dtype=int64)

In [7]:
s[0]

0

In [8]:
s[4]

16

In [9]:
pop2014 = pd.Series([100,99.3,95.5,93.5,92.4,84.8,84.5,78.9,74.3,72.8])

In [10]:
pop2014

0    100.0
1     99.3
2     95.5
3     93.5
4     92.4
5     84.8
6     84.5
7     78.9
8     74.3
9     72.8
dtype: float64

In [11]:
pop2014 = pd.Series([100,99.3,95.5,93.5,92.4,84.8,84.5,78.9,74.3,72.8],
                   index=['Java','C','C++','Python','C#','php','JavaScript',
                          'Ruby','R','MatLab'])

In [12]:
pop2014

Java          100.0
C              99.3
C++            95.5
Python         93.5
C#             92.4
php            84.8
JavaScript     84.5
Ruby           78.9
R              74.3
MatLab         72.8
dtype: float64

In [13]:
pop2014[3]

93.5

In [14]:
pop2014['C++']

95.5

In [15]:
pop2014['C++':'R']

C++           95.5
Python        93.5
C#            92.4
php           84.8
JavaScript    84.5
Ruby          78.9
R             74.3
dtype: float64

In [16]:
pop2014[pop2014 > 90]

Java      100.0
C          99.3
C++        95.5
Python     93.5
C#         92.4
dtype: float64

In [17]:
pop2014[:'R']

Java          100.0
C              99.3
C++            95.5
Python         93.5
C#             92.4
php            84.8
JavaScript     84.5
Ruby           78.9
R              74.3
dtype: float64

In [18]:
pop2015 = pd.Series({'Java':100, 'C':99.9, 'C++':99.4, 'Python':96.5,
                     'C#':91.3, 'R':84.8, 'php':84.5, 'JavaScript': 83.0,
                     'Ruby':76.2, 'MatLab':72.4})

In [19]:
pop2015

C              99.9
C#             91.3
C++            99.4
Java          100.0
JavaScript     83.0
MatLab         72.4
Python         96.5
R              84.8
Ruby           76.2
php            84.5
dtype: float64

In [20]:
#pandas data frames
twoYears = pd.DataFrame({'2014':pop2014, '2015':pop2015})

In [21]:
twoYears

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
MatLab       72.8   72.4
Python       93.5   96.5
R            74.3   84.8
Ruby         78.9   76.2
php          84.8   84.5

In [22]:
#index lookup using numeric position
twoYears.iloc[0:2]

    2014  2015
C   99.3  99.9
C#  92.4  91.3

In [23]:
#index lookup using actual index value
twoYears.loc['C':'Python']

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
MatLab       72.8   72.4
Python       93.5   96.5

In [24]:
#first parameter is row indexer and second is column indexer
twoYears.ix[:,['2015']]

             2015
C            99.9
C#           91.3
C++          99.4
Java        100.0
JavaScript   83.0
MatLab       72.4
Python       96.5
R            84.8
Ruby         76.2
php          84.5

In [25]:
presidents = pd.DataFrame([{'name':'Barack Obama', 'inauguration':2009, 'birthday':1961},
                           {'name':'George W. Bush', 'inauguration':2001, 'birthday':1946},
                           {'name':'William Clinton', 'inauguration':1993, 'birthday':1946},
                           {'name':'George H. Bush', 'inauguration':1989, 'birthday':1924},
                           {'name':'Ronald Reagan', 'inauguration':1981, 'birthday':1911}])

In [26]:
presidents

   birthday  inauguration             name
0      1961          2009     Barack Obama
1      1946          2001   George W. Bush
2      1946          1993  William Clinton
3      1924          1989   George H. Bush
4      1911          1981    Ronald Reagan

In [27]:
presidents_indexed = presidents.set_index('name')

In [28]:
presidents_indexed

                 birthday  inauguration
name
Barack Obama         1961          2009
George W. Bush       1946          2001
William Clinton      1946          1993
George H. Bush       1924          1989
Ronald Reagan        1911          1981

In [30]:
presidents_indexed.loc['William Clinton']

birthday        1946
inauguration    1993
Name: William Clinton, dtype: int64

In [31]:
presidents_fathers = pd.DataFrame([{'son':'Barack Obama', 'father':'Barack Obama Sr.'},
                                   {'son':'George W. Bush', 'father':'George H. Bush'},
                                   {'son':'George H. Bush', 'father': 'Prescott Bush'}])

In [32]:
presidents_fathers

             father             son
0  Barack Obama Sr.    Barack Obama
1    George H. Bush  George W. Bush
2     Prescott Bush  George H. Bush

In [34]:
#merging the two data frames
pd.merge(presidents, presidents_fathers, left_on='name', right_on='son')

   birthday  inauguration            name            father             son
0      1961          2009    Barack Obama  Barack Obama Sr.    Barack Obama
1      1946          2001  George W. Bush    George H. Bush  George W. Bush
2      1924          1989  George H. Bush     Prescott Bush  George H. Bush

In [36]:
#remove the son column
pd.merge(presidents, presidents_fathers, left_on='name', right_on='son').drop('son',axis=1)

   birthday  inauguration            name            father
0      1961          2009    Barack Obama  Barack Obama Sr.
1      1946          2001  George W. Bush    George H. Bush
2      1924          1989  George H. Bush     Prescott Bush